<template>
    <require from="../header/header"></require>

    <require from ='../commomclass/sort'></require>
    <require from ='../commomclass/limit'></require>
  <!--  <require from="../commomclass/filter"></require>  -->
    <require from="../commomclass/pager"></require>
    <header title=${router.currentInstruction.config.title}></header>


    <div class="container emplist-container">
        <div class="row">
            <div class="input-field col s4 offset-s4" >
                <input id="icon_prefix" type="text" class="validate" ref="filtertext" >
                <label for="icon_prefix">Search</label>
            </div>
            <div class="col s4">
                <a class="btn-floating large waves-effect waves-light btn-add-experience employe-dfltcolor tooltipped" data-tooltip="Add Employee" href="#/employee">
                    <i class="material-icons">add</i>
                </a>
            </div>
           </div>
        <div class="row">
            <table class="bordered z-depth-1 emplist-table">
                <thead class="tblHeader" >
                <tr id="emp_serachBar">
                    <th></th>
                    <th data-field="name">Id &nbsp;<i class="tiny material-icons emplist_sort" click.delegate = "sortingfunc('hmsId')">swap_vertical_circle</i></th>
                    <th data-field="id">Name &nbsp;<i class="tiny material-icons emplist_sort" click.delegate = "sortingfunc('name')">swap_vertical_circle</i></th>
                    <th data-field="price">Mail</th>
                    <th data-field="mobile">Mobile</th>
                    <th data-field="">Status</th>
                    <th data-field="">Details</th>
                </tr>
                </thead>
                <tbody>
              <!--  <tr>
                    <td><img class=" circle responsive-img employeelist-userImg" src="src/assets/images/sibi-min.jpg"></td>
                    <td>sibi</td>
                    <td>PRO071</td>
                    <td>hm.comirnt</td>
                    <td>879454</td>
                </tr>
                <tr>
                    <td><img class=" circle responsive-img employeelist-userImg" src="src/assets/images/sibi-mins.jpg"></td>
                    <td>Karthi</td>
                    <td>Pro054</td>
                    <td>hm.gty</td>
                    <td>963847</td>
                </tr>  -->
                <tr repeat.for="user of employeelist | filter:['name' ,'mobileNo' ,'hmsId'] : filtertext.value | sort : { propertyName: column, direction: direction } | take : { from : takefrm, limit : 10} ">
                    <td><img class=" circle responsive-img employeelist-userImg" src="http://rest.hakunamatata.in/user/getProfilePhoto/${user.photoKey}"></td>
                    <td>${user.hmsId}</td>
                    <td>${user.name}</td>
                    <td>${user.email}</td>
                    <td>${user.mobileNo}</td>
                    <td class="switch"><label>
                        Active
                        <input type="checkbox">
                        <span class="lever"></span>
                        Deactive
                    </label></td>
                    <td><img class="svgicon-more icon_emplist_viewDtil" src="src/assets/images/svg-icons/movert.svg" click.delegate="empdetail(user)"></td>
                </tr>
                </tbody>
            </table>

                <pager page-count.bind="pageCount"
                       page-index.bind="pageIndex"
                       set-page.call="setPage($event)">
                </pager>

        </div>
    </div>
</template>