<template>
    <require from="../header/header"></require>

    <require from ='../commomclass/sort'></require>
    <require from ='../commomclass/limit'></require>
    <require from="../commomclass/filter"></require>
    <header title=${router.currentInstruction.config.title}></header>



    <div class="container emplist-container">
        <div class="row">
            <div class="input-field col s4 offset-s4">
                <i class="material-icons prefix">account_circle</i>
                <input id="icon_prefix" type="text" class="validate" ref="filtertext">
                <label for="icon_prefix">Search</label>
            </div>
           </div>
        <div class="row">
            <table class="bordered z-depth-1 emplist-table">
                <thead class="tblHeader">
                <tr>
                    <th>Image</th>
                    <th data-field="id">Name <i class="tiny material-icons" click.delegate = "sortingfunc('name')">swap_vertical_circle</i></th>
                    <th data-field="name">Emp.Id</th>
                    <th data-field="price">Email.Id</th>
                    <th data-field="price">Phone Number</th>
                </tr>
                </thead>
                <tbody>
              <!--  <tr>
                    <td><img class=" circle responsive-img employeelist-userImg" src="src/assets/images/sibi-min.jpg"></td>
                    <td>sibi</td>
                    <td>PRO071</td>
                    <td>hm.comirnt</td>
                    <td>879454</td>
                </tr>
                <tr>
                    <td><img class=" circle responsive-img employeelist-userImg" src="src/assets/images/sibi-mins.jpg"></td>
                    <td>Karthi</td>
                    <td>Pro054</td>
                    <td>hm.gty</td>
                    <td>963847</td>
                </tr>  -->
                <tr repeat.for="user of employeelist | filter:['name' ,'mobileNo' ,'hmsId'] : filtertext.value | take : limit.value | sort : { propertyName: column, direction: direction }">
                    <td><img class=" circle responsive-img employeelist-userImg" src="http://rest.hakunamatata.in/user/getProfilePhoto/${user.photoKey}"></td>
                    <td>${user.name}</td>
                    <td>${user.hmsId}</td>
                    <td>${user.email}</td>
                    <td>${user.mobileNo}</td>
                    <td>${user.userId}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>