<template>
    <nav class="navbar-header">
        <div class="nav-wrapper">
            <ul id="slide-out" class="side-nav">
                <li><a href="#/dashboard">Dashboard</a></li>
                <li><a href="#/release">Release</a></li>
                <li><a href="#/report">Report</a></li>
                <li><a href="#/employeelist">Employee</a></li>
                <li><a href="#/attendance">Attendance</a></li>
            </ul>

           <!--  <a class="brand-logo" >
                <i class="mdi-navigation-menu">reorder</i></a>
            <span class="brand-logo">dff</span>  -->
            <i class="material-icons left hide-on-med-and-down menu-icon" data-activates="slide-out" ref="sideNav"  material-side-nav>reorder</i>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li>${title}</li>

            </ul>
            <span class="header_profile_icon">
               <span> <img class=" circle responsive-img employeelist-userImg" src="src/assets/images/avator.jpg"></span>
                <b>sibi</b>
            </span>
        </div>
    </nav>


</template>