.loginG {
    margin-top: 15%;
    cursor: pointer;
}
.navbar-header {
    background-color:  rgb(0, 188, 212);
    height: 50px;
    line-height: 50px;
}
.nav-wrapper i {
    line-height: 50px !important;
}
#nav-mobile li{
    font-weight: 900;
    font-size: 25px;
}
.menu-icon,.svgicon-more {
    cursor: pointer;
}
.releaseAddBtn {
    position: fixed !important;
    left: 85% !important;
    top: 100px !important;
    background-color: #00bcd4 !important;
}
.releaseDtilLabel {
    font-weight: bold;
    color: rgb(86, 86, 86);
    font-size: 13px;
}
/*Header*/
  .navbar-header{
       position: fixed;
       top: 0px;
       width: 100%;
       z-index: 999;
   }
  /*.header_profile_icon {
      position: fixed;
      right: 0px;
      top: 1%;
      padding-right: 30px;
  } */
.header_profile_icon b {
    float: right;
    margin-right: 20px;
    text-transform: capitalize;
}
.header_profile_icon img {
    float: right;
    margin-right: 30px;
    margin-top: 5px;
}
/*Header Ends*/
/*Dashboard*/
.dashboard-chart-container {
    width: 90% !important;
    margin-top: 8% !important;
    padding: 10px;
}
.chart-margin {
    margin-top: 30px;
}

/*Employee */
.employee-add-container {
    margin-top: 8% !important;
    width : 90% !important;
    padding : 0px 20px 10px 20px;
    background-color: rgba(72,70,70,0.04);
}
.btn-activ-deactive {
    color:red !important;
}

.btn-save-employeadd {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn-add-experience {
    left : 85%;
    top : 10px;
}
.employe-dfltcolor {
    background-color: #00bcd4 !important;
}
.delete-exp-icon {
    padding-top: 25px;
    color : #e85b5b !important;
    cursor: pointer;
}
.employee-add-container .row {
    margin-bottom: 5px !important;
}
.employe-add-labeltxt {
    color: rgb(86, 86, 86);
    font-weight: bolder;
}
/*Employee list*/
.emplist-container {
    width : 85% !important;
    margin-top: 5% !important;
    padding: 10px;
}

.employeelist-userImg {
    width : 40px !important;
    height : 40px !important;
}
.tblHeader {
   background-color: rgba(250,250,250,1);
    color: #565656;

}
.emplist-table {
    font-size: 13px;
    line-height: 1;
    text-transform:capitalize;
}
.emplist-table tbody tr td:nth-child(4) {
    text-transform: lowercase !important;
}
.emplist-table tbody tr:hover {
    background-color: #eeeeee;
}
.emplist-table th, .emplist-table td{
    padding: 10px 5px !important;
}
.emplist_sort {
    cursor: pointer;
}
.icon_emplist_viewDtil {
    cursor: pointer;
}

/*Employee Ends*/

.waves-effect.waves-brown .waves-ripple {
    /* The alpha value allows the text and background color
    of the button to still show through. */
    background-color: rgba(121, 85, 72, 0.65);
}

/*Pager*/
pager {
    text-align: center;

}
.pagination li.active {
    background-color: rgb(0, 188, 212) !important;
}
/*pager Ends*/

/*Release */
.release_container{
    margin-top: 5% !important;
}

/* Employee Detail*/
.emp_detail_container{
   margin-top: 8% !important;
   margin-bottom: 5% !important;
    width : 80% !important;
    text-align: center;
    background-color: #fbfbfb;
}
.employeedetail_userImg {
    width: 10% !important;
}
.emp_detail_container .row {
    margin:5px 0px !important;
    border-top: 1px solid rgba(0,0,0,0.12);
    padding: 20px;
}

.emp_detail_container .row div:nth-child(1) {
    border: 0;
    color: #181818;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    padding: 0
}
.emp_detail_container .row div:nth-child(2) {
    color: #737373;
    font-size: 14px;
}
.empdtil_textCntnt .row {
    text-align: justify ;
}

/* Employee Detail End*/